@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  background: #382F47;
  position: relative;
  color: #ADAAA1;
  gap: 12px;
  font-size: 48px;
}

.middle {
  display: flex;
  flex: 1;
  position: relative;
}

.footer {
  display: flex;
  background: #382F47;
  justify-content: center;
  align-items: center;
  color: #ADAAA1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  flex-grow: 1;
  background: #A43B48;
}

.addTask {
  margin: 0 auto;
  position: fixed;
  z-index: 9;
  left: 50%;
}

#add-button {
  background: transparent;
  position: relative;
  border: 0;
  padding: 0;
}

#add {
  height: 115px;
  cursor: pointer;
  filter: invert(77%) sepia(8%) saturate(252%) hue-rotate(7deg) brightness(89%) contrast(82%);
}


.taskContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 24px;
  position: relative;
}

#footer-logo {
  height: 50px;
  width: auto;
  background-color: #ADAAA1;
  border-radius: 50%;
  cursor: pointer;
}

#projects {
  display: flex;
  background: none;
  border: 0;
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
  color: #382F47;
  margin: 5px;
}

#project-add {
  height: 25px;
  filter: invert(14%) sepia(9%) saturate(2941%) hue-rotate(221deg) brightness(93%) contrast(81%);
}

#projects:hover {
  box-shadow: 0 0 10px #5E5E5E;
}

#project input[type=text]:focus {
  background-color: #A43B48;
  outline: none;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#all, #today, #week, #important {
  background: none;
  border: 0;
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 5px;
  color: #382F47;
}

.allTasks, .today, .week, .important {
  display: flex;
  justify-content: flex-start;
}

#all:hover, #today:hover, #week:hover, #important:hover {
  transform: translateX(4px);
}

#all:active, #today:active, #week:active, #important:active {
  transform: translateX(4px) translateY(4px);
}


#logo {
  border-radius: 50%;
  box-shadow: 0 0 10px #ADAAA1;
  padding: 8px;
  margin: 5px;
  height: 100px;
}

button:active {
  transform: translateY(4px);
}

.navbar-icon {
  height: 25px;
  filter: invert(14%) sepia(9%) saturate(2941%) hue-rotate(221deg) brightness(93%) contrast(81%);
}

.navbar {
  background: #ADAAA1;
  color: #382F47;
  width: 238px;
}

.form-popup {
  transform: scale(0);
  position: relative;
  right: 35%;
  z-index: 9;
  background: #382F47;
  border-radius: 12px;
  color: white;
  opacity: 55;
}

/* Add styles to the form container */
.form, .editForm {
  width: 400px;
  font-size: 16px;
  padding: 10px;
  position: relative;
}

.form input[type=text], .editForm input[type=text] {
  width: 370px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 12px;
  background: #ADAAA1; 
  color: #382F47;
  font-weight: bold ;
}

.btn {
  border-radius: 12px;
  margin-top: 8px;
}

.form input[type=text]:focus, .editForm input[type=text]:focus {
  background-color: #A43B48;
  outline: none;
}

.form .btn, .editForm .btn {
  background-color: #ADAAA1;
  color: #382F47;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form .cancel, .editForm .cancel {
  background-color: #A43B48;
  color: white;
}

.form .btn:hover, .open-button:hover, .editForm .btn:hover{
  opacity: 1;
}

.backdrop-blur {
  filter: blur(4px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.opened {
  transform: scale(1) !important;
  transition: 0.5s ease-in-out !important;
}

.closed {
  transform: scale(0) !important;
  transition: 0.5s ease-in-out !important;
  display: none !important;
}

textarea {
  resize: none;
  width: 370px;
  height: 100px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 12px;
  background: #ADAAA1; 
  color: #382F47;
}

textarea:focus {
  background-color: #A43B48;
}

.task {
  height: 300px;
  width: 276px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 8px;
  white-space: pre;
  background: #382F47;
  color: #ADAAA1;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  z-index: 8;
  border-left: 0.5rem solid #ADAAA1;
}

.task:hover {
  box-shadow: 0 0 10px black;
  transform: scale(1.1);
}

.deleteButton {
  background: url(../assets/trash-can-outline.svg) no-repeat;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  position: absolute;
  bottom: 5px;
  right: 0;
  filter: invert(77%) sepia(8%) saturate(252%) hue-rotate(7deg) brightness(89%) contrast(82%);
}

#textMark, #importance, #importanceEdit {
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  top: 3px;
}

#importance:hover #importanceEdit:hover {
  transform: none;
}

.textBox {
  cursor: pointer;
  display: block;
}

.selected {
  background: #A43B48 !important;
}

.editButton {
  background: url(../assets/file-edit-outline.svg) no-repeat;
  width: 45px;
  height: 45px;
  border: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 2px;
  filter: invert(77%) sepia(8%) saturate(252%) hue-rotate(7deg) brightness(89%) contrast(82%);
}

.edit-form-popup {
  transform: scale(0);
  z-index: 9;
  position: fixed;
  background: #2d2d2d;
  border-radius: 12px;
  color: white;
  opacity: 55;
}

input[data-input] {
  margin-left: 5px;
}

#confirm, #close {
  height: 20px;
  filter: invert(14%) sepia(9%) saturate(2941%) hue-rotate(221deg) brightness(93%) contrast(81%);
}

.confirm, .close {
  background: transparent;
  border: 1px;
  border-radius: 12px;
  padding: 0;
  height: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projectName {
  display: flex;
  align-items: center;
}

.projectForm {
  display: flex;
  align-items: center;
}

.projectName input[type=text] {
  border-radius: 12px;
  background-color: #382F47;
  color: #ADAAA1;
  margin: 5px;
  margin-right: 2px;
  width: 175px;
  height: 27px;
}

.projButtons {
  display: flex;
}

button[data-project] {
  background: none;
  border: 0;
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 8px;
  margin: 5px;
  color: #382F47;
  font-weight: 900;
}

.projDel {
  background: url(../assets/trash-can-outline.svg) no-repeat;
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  appearance: none;
  z-index: 9;
  filter: invert(14%) sepia(9%) saturate(2941%) hue-rotate(221deg) brightness(93%) contrast(81%);
}

.cardText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
}

.expandTitle {
  overflow: visible;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  position: absolute;
  font-size: 20px;
  padding: 24px;
  top: 0;
  left: 0;
  background-color: #5E5E5E;
  border: 2px #382F47;
  border-radius: 12px;
  margin: 8px;
  width: 276px;
  height: 200px;
  cursor: pointer;
  z-index: 9;
}

.expandDesc {
  overflow: visible;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  position: absolute;
  font-size: 20px;
  padding: 24px;
  bottom: 0;
  left: 0;
  background-color: #5E5E5E;
  border: 2px #382F47;
  border-radius: 12px;
  margin: 8px;
  width: 276px;
  height: 300px;
  cursor: pointer;
  z-index: 9;
}